{% extends "base.html" %}

{% block title %}Welcome to Prefect{% endblock %}

{% block content %}
<p>Hi {{ username }}!</p>
<p>
    Having any trouble upgrading to Prefect 2.0 at all? Try out our
    <a href="https://www.youtube.com/watch?v=YyAQ61eRGhI&list=PLZfWmQS5hVzF3u9FY4-43U4UoTblFgC2l">
        full YouTube playlist
    </a> of migration content!
</p>
<p>
    If you need any help, please don't hesitate to reach out in our
    <a href="{{ slack }}">Slack community</a>
    or
    <a href="{{ discourse }}">Discourse forum</a>!
</p>
<p>Happy Engineering,</p>
<p>Prefect Customer Success Team</p>
{% endblock %}